%footer.contain-width
 .hhs
  / %img{:src => "/images/hhs-logo.png", :alt => "Department of Health & Human Services"}
 .acf
  / %img{:src => "/images/acf-logo.png", :alt => "Administration for Children & Families"}
 .fysb
  / %img{:src => "/images/fysb-logo.png", :alt => "Family & Youth Services Bureau: Adolescent Pregnancy Prevention Program"}