.logo
.hero
.video-link
.overlay
 .contain-width
  %h1.title <span style="">PREP</span> TEENS <span style="">FOR THE</span> FUTURE
  %p.tagline When combined with sexual education, these six adulthood preparation subjects create a holistic approach to teen pregnancy prevention.
  .topics
   .relations
    .icon
    .icon-label Healthy Relationships
   .adol
    .icon
    .icon-label Adolescent Development
   .money
    .icon
    .icon-money Financial Literacy
   .skills
    .icon
    .icon-label Healthy Relationships
   .comm
    .icon
    .icon-label Parent & Child Communication
   .career
    .icon
    .icon-label Career & Education
  .instructions
   %p Interact with the above icons for an overview of each teen prep topic.
   %p Explore ways below to prep teens for the future.