.logo
.hero
.video-link
.overlay
 .contain-width
  %h1.title Commodo Bibendum Dolor Nullam Magna
  %p.tagline Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit tempus porttitor.
  .topics
   .relations
    .icon
    .icon-label Topic 1
   .adol
    .icon
    .icon-label Topic 2
   .money
    .icon
    .icon-money Topic 3
   .skills
    .icon
    .icon-label Topic 4
   .comm
    .icon
    .icon-label Topic 5
   .career
    .icon
    .icon-label Topic 6
  .instructions
   %p Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
   %p Maecenas sed diam eget risus varius blandit sit amet non magna.