$min-3up-footer: 705px;

footer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	@include breakpoint($min-3up-footer) {
		justify-content: space-between;
	}
	img {
		padding: $pad;
	}
	.hhs img{
		@include retina("../images/hhs-logo.png");
	}
	.acf img {
		@include retina("../images/acf-logo.png");
	}
	.fysb img {
		@include retina("../images/fysb-logo.png");
	}
}